<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" tyoe="text/css" href="{% static 'haikuApp/style.css' %}">
    <head>
        <meta charset="utf-8">
        <title>Haiku Generator</title>
    </head>
    <body>
        <div class="container">
            <div class="child">
                <h1>Haiku Generator</h1>
                    {% if question_list %}
                        {% for question in question_list %}
                            <p>{{ question.question_text}} </p>
                        {%  endfor %}
                    {% else %}
                        <p>No available questions</p>
                    {% endif %}

                    {% if choice_list %}
                        <form>
                            {% for choice in choice_list %}
                                <input class="radio" type="radio" id={{ choice.id }} value={{ choice.choice_text }}>
                                <label class="radio" for={{ choice.id }}>{{ choice.choice_text }}</label><br>
                            {%  endfor %}
                            <br>
                            <input type="submit" value="Submit">
                        </form>

                    {% else %}
                        <p>No available choices</p>
                    {% endif %}
            </div>

        </div>

    </body>
</html>